<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <title>Salary update</title>
</head>
<body>

    <div class="container">
        <div class="employee_details">
        <h1>Salary Update</h1>
{% comment %}     
           <h5>Employee ID:<span>{{employees.0.userid}}</span></h5>
            <h5>Employee Name:  <span>{{employees.0.user.get_full_name}}</span></h5>  {% endcomment %}
       
           <h5>Employee ID:<span>{{currentSalary.eid.userid}}</span></h5>
           <h5>Employee Name:  <span>{{currentSalary.eid.user.get_full_name}}</span></h5>
     
        </div>
        <h5>Salary Slipno: <span>{{currentSalary.slipno}}</span> </h5>

         <div class="form_class" >
    <form  action="/details/accountants" method="post">
        <div class="form-group">
            <label for="basic_salary">Basic salary</label>
            <input type="number" class="form-control" id="basic_salary" placeholder="In Rupees" value={{currentSalary.basic_salary}}>
        </div>
        <div class="form-group">
            <label for="hra">HRA</label>
            <input type="number" class="form-control" id="hra" placeholder="In Rupees" value={{currentSalary.hra}}>
        </div>
        <div class="form-group">
            <label for="conveyance _allowance">Coveyance Allowence</label>
            <input type="number" class="form-control" id="conveyance _allowance " placeholder="In Rupees" value={{currentSalary.conveyance_allowance}}>
        </div>
        <div class="form-group">
            <label for="medical_allowance">Medical Allowance</label>
            <input type="number" class="form-control" id="medical_allowance" placeholder="In Rupees" value={{currentSalary.medical_allowance}}>
        </div>
        <div class="form-group">
            <label for="performance_bonus">Performance Bonus</label>
            <input type="number" class="form-control" id="performance_bonus" placeholder="In Rupees" value={{currentSalary.performance_bonus}}>
        </div>
        <div class="form-group">
            <label for="others">Others</label>
            <input type="number" class="form-control" id="others" placeholder="In Rupees" value={{currentSalary.performance_bonus}}>
        </div>
        <div class="form-group">
            <label for="deduction">Deduction</label>
            <input type="number" class="form-control" id="others" placeholder="In Rupees" value={{deduction.damt}}>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div> 
      </div>
</body>
</html>